{% extends 'baseAuth.html' %}

{% load static %}

{% block meta %}

<title>Register</title>

{% endblock meta %}


{% block content %}

<div>
    <div class="register-container justify-content-center align-self-center d-flex">
        <div class = "register">
            <div class="container px-4 text-center">
                
                <div class="row gx-5">
                    <h1>
                        Pilih role:
                    </h1>
                </div>
                
                <div class="row gx-5 row-select">
                  <div class="col">
                    <div class="p-3">
                        <a class="admin-select" href="#">Admin</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-3">
                        <a class="pelanggan-select" href="#">Pelanggan</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-3">
                        <a class="restoran-select"  href="#">Restoran</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-3">
                        <a class="kurir-select" href="#">Kurir</a>
                    </div>
                  </div>
                </div>
               
              </div>
        
            
            

        
        </div>  
            
    </div>

</div>

{% endblock content %}