{% include 'navbarRestoran.html' %} {% block content %}
<div class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-3">
      <h4>Daftar Jam Operasional</h4>
    </div>
    <div class="col mb-3">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">No</th>
            <th scope="col">Hari</th>
            <th scope="col">Jam Buka</th>
            <th scope="col">Jam Tutup</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for hour in restaurant.operating_hours %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ hour.day }}</td>
            <td>{{ hour.starthours }}</td>
            <td>{{ hour.endhours }}</td>
            <td>
              <a href="{% url 'jam_ubah' %}" class="btn btn-primary">Ubah</a>
              <a
                href="{% url 'jam_delete_op' hour.day %}"
                class="btn btn-danger"
                >Hapus</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
