{% include 'navbarRestoran.html' %} {% block meta %} {% endblock meta %}
<form
  class="container my-5 px-5"
  action="/jam_operasional/ubah_request/{{ hour.day }}"
  method="POST"
>
  {% csrf_token %}
  <div class="row row-cols-1">
    <div class="col text-center mb-3">
      <h4>Form Ubah Jam Operasional</h4>
      {% if fail_ubah %}
        <h6>fail</h1>
      {% endif %}
    </div>
    <div class="col mb-3">
      <select class="form-select" id="inputGroupSelect01" name="day" required>
        <option selected disabled>{{ hour.day }}</option>
      </select>
    </div>
    <div class="col mb-3">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Jam Buka</span>
        <input
          class="form-control"
          type="time"
          id="starthours"
          name="starthours"
          value="{{ starthours }}"
          required
        />
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Jam Tutup</span>
        <input
          class="form-control"
          type="time"
          id="endhours"
          name="endhours"
          value="{{ endhours }}"
          required
        />
      </div>
    </div>
    <div class="col text-center mt-3 mb-3">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </div>
</form>
