{% extends 'base.html' %}

{% block content %}
{% include 'navbarPelanggan.html' %}
<div>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div>Form Buat Kategori Restoran</div>
            <div>
                <span>Nama Kategori Restoran</span>
                <span><input type="text" name="kategori" id=""></span>
            </div>
            <div><button type="submit">Simpan</button></div>
        </form>
    </div>
    {% if messages %}  
        <div>   
            {% for message in messages %}  
                <div>{{ message }}</div>  
                {% endfor %}  
        </div>   
    {% endif %}
</div>
{% endblock content %}