<!DOCTYPE html>
{% extends 'base.html' %}

    <body>
      {% block content %}
    <h1 > Daftar Promo Makanan<br> </h1>
    <h3 > <a href="url">[Tambah  Promo ]</a> </h3>
        
        
    <table class="table table-success table-striped" >
      <thead class="table-success">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama Promo</th>
          <th scope="col">Jenis Promo</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for promo in object_list %}
           <tr>
           <th scope="row">{{ forloop.counter }}</th>
           <td>{{promo.Nama}}</td>
           <td>{{promo.Jenis_promo}}</td>
           <td><a class="pe-auto" href="url">tambah</a><br> <a class="pe-auto" href="url">detail</a><br> <a class="pe-auto" href="url">hapus</a></td>
        {% endfor %}
       </tbody>
   </table>
  
    {% endblock %}
    </body>