
{% extends 'NavbarKurir.html' %}
{% block content %}
<body>
    <h1> Dasboard Pengguna: Kale Franceschell </h1>
    <p> Email:  </p>
    <p> Password:  </p>
    <p>  Nama: Kale </p>
    <p>  Nomor HP: 774-221-2032</p>
    <p>  NIK: 62-959-8442</p>
     <p>   Nama bank: 7779604</p>
     <p>  Nomor rekening: 4857106</p>

     <p> Plat Nomor Kendaraan: B3333EA</p>
    <p> Nomor SIM: 1432-2131-433195</p>
    <p>Jenis kendaraan:Motor </p>
   <p> Merk kendaraan: Yamaha</p><br> 
   <br>
   <p> Status : Terverifikasi</p>
   <p> Diverifikasi oleh : Anny  Markussen</p>
   
     
    
</body>
{% endblock content %}