{% extends 'base.html' %}

{% load static %}


{% block meta %}
<title>Daftar Restoran</title>
<style>
  *{
    margin: 5px;

  }
</style>
{% endblock meta %}



{% block content %}

{% if request.session.role == 'admin' %}
{% include 'navbarAdmin.html' %}
{% elif request.session.role == 'customer' %}
{% include 'navbarPelanggan.html' %}
{% elif request.session.role == 'kurir' %}
{% include 'navbarKurir.html' %}
{% endif %}



<div class="text-center">

  <h1 >Daftar Restoran</h1>
</div>


<table class="table table-bordered">
        
        <thead>
          <td>No</td>
          <td>Nama - Cabang Restoran</td>
          <td>Rating</td>
          <td>Aksi</td>
        </thead>

        {% for restoran in list_restoran %}
        <tbody>
          <tr class="">
            <td>{{ forloop.counter }}</td>
            <td>{{restoran.rname}} - {{restoran.rbranch}} </td>
            <td>{{restoran.rating}} </td>
            <td>
            <a href="{% url 'Makanan:show_detail_resto' restoran.rname restoran.rbranch %}">Detail</a>
            <br>
            <a href="{% url 'Makanan:show_makanan_nonRestoView' restoran.rname restoran.rbranch %}">Menu</a>
            </td>
          </tr>
        </tbody>
        {% endfor %}  
  </table>

{% endblock content %}