{% extends 'base.html' %}

{% load static %}


{% block meta %}

<title>Daftar Makanan</title>
<style>
  *{
    margin: 5px;

  }
</style>
{% endblock meta %}



{% block content %}

{% if request.session.role == 'admin' %}
{% include 'navbarAdmin.html' %}
{% elif request.session.role == 'customer' %}
{% include 'navbarPelanggan.html' %}
{% elif request.session.role == 'kurir' %}
{% include 'navbarKurir.html' %}
{% endif %}

<div class="text-center">

  <h1>Daftar Makanan</h1>
</div>


<table class="table table-bordered">
        
        <thead>
          <td>No</td>
          <td>Nama Makanan</td>
          <td>Deskripsi</td>
          <td>Stok</td>
          <td>Harga</td>
          <td>Kategori Makanan</td>
          <td>Bahan Makanan</td>
        </thead>
        

        <!-- self.RName = RName
        self.RBranch = RBranch
        self.FoodName = FoodName
        self.Description = Description
        self.Stock = Stock
        self.Price = Price
        self.FCategory = FCategory -->

<!--         
        self.FCategoryName = ""
        self.IngredientName = [] -->


        {% for food in list_food %}
        <tbody>
          <tr class="">
            <td>{{forloop.counter}}}</td>
            <td>{{food.FoodName}}</td>
            <td>{{food.Description}}</td>
            <td>{{food.Stock}}</td>
            <td>{{food.Price}}</td>
            <td>{{food.FCategoryName}}</td>
            <td>
              <ul>
                {% for ingredient in food.IngredientName %}
                  {{ingredient}}
                {% endfor %}
              </ul>

            </td>

          </tr>
        </tbody>
        {% endfor %}


  </table>

{% endblock content %}