{% include 'navbarRestoran.html' %}

{% load static %}

{% block meta %}
<title>Ubah Makanan</title>
<style>
  *{
    margin: 5px;

  }
/* 
.div-inline{
  display:inline-block;
} */
</style>
{% endblock meta %}

{% block content %}

<div class="text-center">

  <h1>Form Ubah Makanan</h1>
  <hr>
</div>


{% if error_msg %}
  <h2>{{error_msg}}</h2>
{% endif %}


<form  action="{% url 'Makanan:update_makanan' food.FoodName %}" method="POST">
  {% csrf_token %}
    
    <div class="mb-3">
      <label for="namaMakanan" class="form-label" >Nama makanan: </label>
      <input type="text" class="form-control" id="namaMakanan" name="foodname" disabled value="{{food.FoodName}}">
      <div id="namaMakananHelp" class="form-text"></div>
    </div>
    
    <div class="mb-3">
      <label for="Deskripsi" class="form-label">Deskripsi: </label>
      <input type="text" class="form-control" id="Deskripsi" name="description" value="{{food.Description}}">
    </div>

        
    <div class="mb-3">
      <label for="Stok" class="form-label">Stok: </label>
      <input type="number" class="form-control" id="Stok" name="stock" value="{{food.Stock}}">
    </div>

    <div class="mb-3">
      <label for="Harga" class="form-label">Harga: </label>
      <input type="number" class="form-control" id="Harga" name="price" value="{{food.Price}}">
    </div>
  
    
    <div class="mb-3">
      <label for="Harga" class="form-label">Kategori Makanan: </label>
      <select class="form-select" aria-label="Default select example" name="fcategory" value="{{food_category_name}}">
        
        {% for kategori_makanan in list_kategori_makanan %}
        <option value="{{kategori_makanan.id}}">{{kategori_makanan.name}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div>
      <label for="Harga" class="form-label">Bahan Makanan: </label>
      <div class="div-inline d-inline-block d-flex flex-row">
        <div class="mb-3" >
          <select class="form-select" aria-label="Default select example" name="ingredient">
            
            {% for ingredient in list_ingredient %}

            <option value="{{ingredient.id}}">{{ingredient.name}}</option>
            {% endfor %}
          </select>
        </div>
        <button> - </button>
      </div>
    </div>
    <button> + </button>

    <br>
    

    <br>

    <button type="submit" class="btn btn-primary">Simpan</button>

</form>

{% endblock content %}