{% extends 'NavbarKurir.html' %}
{% block content %}
<body>
    <h1> Detail Pesanan </h1>
    <p> Nama Pelanggan : Devonna Sivil </p>
    <p> Password: e3LTFctlYcfr </p>
    <p>Jalan: Jalan Bahagia nomor 72</p>
    <p> Kecamatan: Cinere</p>
    <p> Kota: Depok</p>
    <p> Provinsi: Jawa Barat</p>

    <p> Restoran: Tamelo Atap </p>
    <p> Jalan: 17024 Haas Road</p>
    <p> Kecamatan: jakarta selatan</p>
    <p> Kota: DKI Jakarta</p>
    <p> Provinsi: DKI Jakarta</p>
        
    <p>  Makanan yang dipesan:</p>
    <p> Kopi Susu - Tanpa es batu</p>
    <p>  Total Harga Makanan: 179209</p>
    <p>  Total Diskon:21141</p>
    <p>  Biaya Pengantaran: 4000</p>
    <p>  Total Biaya: 253867</p>
     <p>   Jenis Pembayaran: DoPay</p>
        
    <p>  Status Pembayaran: Menunggu pembayaran</p>
    <p>  Status Pesanan: Pesanan Diantar</p>
        
    <p>  Kurir: Doni Suryana</p>
    <p> Plat Kendaraan: B 0001 KNN</p>
    <p> Jenis Kendaraan: Motor</p>
    <p> Merk Kendaraan: Honda Vario</p>
    <table style = "border: 1px solid black;" >
        <tr style = "border: 1px solid black;">
          <th style = "border: 1px solid black;">Status</th>
          <th style = "border: 1px solid black;">TimeStamp</th>
        </tr>
        <tr style = "border: 1px solid black;">
          <td style = "border: 1px solid black;">Menunggu Konfirmasi Restoran</td>
          <td style = "border: 1px solid black;">- - - </td>
        </tr>
        <tr style = "border: 1px solid black;">
            <td style = "border: 1px solid black;">Pesanan Dibuat</td>
            <td style = "border: 1px solid black;">- - -</td>
          </tr>

          <tr style = "border: 1px solid black;">
            <td style = "border: 1px solid black;">Pesanan Diantar</td>
            <td style = "border: 1px solid black;">- - - </td>
          </tr>
          <tr style = "border: 1px solid black;">
            <td style = "border: 1px solid black;">Pesanan Selesai</td>
            <td style = "border: 1px solid black;">- - -</td>
          </tr>
          <button type="button" class="btn btn-primary justify-content-center">Kembali</button>
     
    
</body>
{% endblock content %}