{% include 'navbarAdmin.html' %}

{% load static %}


{% block meta %}
<title>Daftar Tarif</title>
<style>
  *{
    margin: 5px;

  }
</style>
{% endblock meta %}



{% block content %}
  
<div class="text-center">

  <h1 >Daftar Tarif Pengiriman</h1>
</div>


<table class="table table-bordered">
        
        <thead>
          <td>No</td>
          <td>Provinsi</td>
          <td>Biaya Motor</td>
          <td>Biaya Mobil</td>
          <td>Aksi</td>
        </thead>


        {% for tarif_pengiriman in list_tarif_pengiriman %}
        <tbody>
          <tr class="">
            <td>{{tarif_pengiriman.id}}</td>
            <td>{{tarif_pengiriman.province}}</td>
            <td>{{tarif_pengiriman.motorfee}}</td>
            <td>{{tarif_pengiriman.carfee}}</td>
            <td>
              <a href="{% url 'tarifPengiriman:show_update_tarif' tarif_pengiriman.id tarif_pengiriman.province %}">Ubah</a>
              <br>
              <form action="{% url 'tarifPengiriman:hapus_tarif' tarif_pengiriman.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Hapus">
              </form>
            </td>
          </tr>
          
        </tbody>
        {% endfor %}  

  </table>

{% endblock content %}