{% include 'navbarAdmin.html' %}

{% load static %}

{% block meta %}
<title>Update Tarif</title>
<style>
  *{
    margin: 5px;

  }
</style>
{% endblock meta %}

{% block content %}


<div class="text-center">

  <h1 >Update Tarif Pengiriman</h1>
</div>


{% if error_msg %}
  <h2>{{error_msg}}</h2>
{% endif %}

<form  action="{% url 'tarifPengiriman:update_tarif' id province %}" method="POST">
  {% csrf_token %}
    
    <div class="mb-3">
      <label for="provinsi" class="form-label" >Provinsi: </label>
      <input type="text" class="form-control" id="provinsi" name="province" disabled value={{province}}>
      <div id="provinsiHelp" class="form-text"></div>
    </div>
    
    <div class="mb-3">
      <label for="tarif-motor" class="form-label">Tarif Motor: </label>
      <input type="number" class="form-control" id="tarif-motor" name="motorfee">
    </div>

        
    <div class="mb-3">
      <label for="tarif-motor" class="form-label">Tarif Mobil: </label>
      <input type="number" class="form-control" id="tarif-mobil" name="carfee">
    </div>
    
    <input type="submit" value="Simpan">

</form>

{% endblock content %}