{% extends 'base.html' %}

{% block content %}
{% include 'navbarAdmin.html' %}
<div>
    <div>
        <table class = "table bordered-table">
            <tr>
                <th>No</th>
                <th>Nama Kategori Makanan</th>
                <th>Aksi</th>
            </tr>
            {% for kategori in kategori_makanan %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{kategori.name}}</td>
                {% if not kategori.used %}
                <td><button><a href="{% url 'kategori_makanan:delete_kategori_makanan' kategori.id%}">Hapus</a></button></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}