{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <table>
            <tr>
                <th>No</th>
                <th>Nama Kategori Makanan</th>
                <th>Aksi</th>
            </tr>
            {% for kategori in kategori_makanan %}
            <tr>
                <th>{{forloop.counter}}</th>
                <th>{{kategori.name}}</th>
                <th><button>Hapus</button></th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}