{% extends 'base.html' %} {% block content %}
<div class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-2">
      <h4>Restopay</h4>
    </div>
    <div class="col">
      <h6>Saldo: [saldo]</h6>
    </div>
    <div class="col text-center mt-5 mb-3">
      <button type="submit" class="btn btn-primary">Isi Saldo</button>
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-primary">Tarik Saldo</button>
    </div>
  </div>
</div>
{% endblock %}
