{% include 'navbarPelanggan.html' %} {% block content %}
<form class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-2">
      <h4>Form Isi Saldo</h4>
    </div>
    <div class="col">
      <h6>Saldo saat ini: [teks]</h6>
      <label for="nominalPengisian" class="form-label">Nominal Pengisian</label>
      <input
        type="text"
        class="form-control mb-3"
        id="nominalPengisian"
        required
      />
    </div>
    <div class="col">
      <h6>dari:</h6>
      <h6>Nama Bank: [teks]</h6>
      <h6>Nomor Rekening: [teks]</h6>
    </div>
    <div class="col text-center mt-5 mb-3">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </div>
</form>
{% endblock %}
