{% extends 'base.html' %}

{% block content %}
{% include 'navbarPelanggan.html' %}
<div>
    <div>
        <h3>Konfirmasi Pembayaran</h3>
    </div>
    <div>Waktu Pemesanan: 2022-11-04 11:30:05</div>
    <div>
        <div>Nama Pelanggan: Mikayla Putri</div>
        <div>Jalan: Jalan Bahagia nomor 72</div>
        <div>Jalan: Jalan Bahagia nomor 72</div>
        <div>Kota: Depok</div>
        <div>Provinsi: Jawa Barat</div>
    </div>
    <div>
        <div>Restoran: Warung Mantap Depok</div>
        <div>Jalan: Jalan Sejahtera nomor 5</div>
        <div>Kecamatan: Bojongsari</div>
        <div>Kota: Depok</div>
        <div>Provinsi: Jawa Barat</div>
    </div>

    <div>
        <div>Makanan yang dipesan:</div>
        <div>
            <ul>
                <li>
                    Ayam Goreng (1) - Dibekuin
                </li>
                <li>
                    Ice Cream (2) - Digoreng
                </li>
            </ul>
        </div>
        <div>Total Harga Makanan: 11000</div>
        <div>Total Diskon: 0</div>
        <div>Biaya Pengantaran: 4000</div>
        <div>Total Biaya: 15000</div>
        <div>Jenis Pembayaran: RestoPay</div>
    </div>

    <div>
        <div>Sisa Waktu Konfirmasi: 00:00:55</div>
        <div>Status Pembayaran: Menunggu Pembayaran</div>
        <div>Status Pesanan: Menunggu Konfirmasi Restoran</div>
    </div>

    <button>Konfirmasi Pembayaran</button>
</div>
{% endblock content %}