{% include 'navbarRestoran.html' %}
<div class="container my-5 px-5 text-center">
  <h4>Pesanan Berlangsung</h4>
</div>
<div class="container my-2 px-5 align-self-center">
  <div class="row row-cols-3">
    <div class="col mb-3 mx-5">
      <p>Waktu Pemesanan: [teks]</p>
      <p>Nama Pelanggan: [teks]</p>
      <p>Jalan: [teks]</p>
      <p>Kecamatan: [teks]</p>
      <p>Kota: [teks]</p>
      <p>Provinsi: [teks]</p>

      <p>Restoran: [teks]</p>
      <p>Jalan: [teks]</p>
      <p>Kecamatan: [teks]</p>
      <p>Kota: [teks]</p>
      <p>Provinsi: [teks]</p>
      <p>Makanan yang dipesan: [teks]</p>
      <ul>
        <li>Nama Makanan (jumlah) - [catatan]</li>
        <li>Nama Makanan (jumlah) - [catatan]</li>
      </ul>
      <p>Total Harga Makanan: [teks]</p>
      <p>Total Diskon: [teks]</p>
      <p>Biaya Pengantaran: [teks]</p>
      <p>Total Biaya: [teks]</p>
    </div>
    <div class="col mb-3 mx-5">
      <p>Jenis Pembayaran: RestoPay</p>
      <p>Status Pembayaran: [teks]</p>
      <p>Status Pesanan: [teks]</p>
      <p>Kurir: [teks]</p>
      <p>Plat Kendaraan: [teks]</p>
      <p>Jenis Kendaraan: [teks]</p>
      <p>Merk Kendaraan: [teks]</p>

      <p>Kurir: [teks]</p>
      <p>Plat Kendaraan: [teks]</p>
      <p>Jenis Kendaraan: [teks]</p>
      <p>Merk Kendaraan: [teks]</p>
      <br />
      <a href="{% url 'rpesanan-index' %}" class="btn btn-primary">Kembali</a>
    </div>
  </div>
</div>
