{% extends 'base.html' %}
{% block content %}
{% include 'navbarPelanggan.html' %}
<div>
    <div>Pilih Makanan</div>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table bordered-table">
                <tr>
                    <th>No</th>
                    <th>Nama Makanan</th>
                    <th>Harga</th>
                    <th>Jumlah</th>
                    <th>Catatan (Opsional)</th>
                </tr>
                {% for food in food_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{food.name}}</td>
                    <td>{{food.price}}</td>
                    <td><input type="number" name="amount{{forloop.counter0}}" value="0" min="0"></td>
                    <td><input type="text" name="note{{forloop.counter0}}"></td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <h4>Pilih Metode Pembayaran dan Pengantaran</h4>
            </div>
            <div>
                <span>Metode Pengantaran</span>
                <span><select name="metode-antar" id="">
                    <option value="Motor">Motor</option>
                    <option value="Mobil">Mobil</option>
                </select></span>
                <br>
                <span>Metode Pembayaran</span>
                <span><select name="metode-bayar" id="">
                    {% for payment_option in payment_options %}
                    <option value="{{payment_option.id}}">{{payment_option.name}}</option>
                    {% endfor %}
                </select></span>
            </div>
            <button type="Submit">Pesan</button>
        </form>
    </div>
    {% if messages %}  
        <div>   
            {% for message in messages %}  
                <div>{{ message }}</div>  
                {% endfor %}  
        </div>   
    {% endif %}
</div>
{% endblock content %}