{% extends 'base.html' %}

{% block content %}
{% include 'navbarPelanggan.html' %}
<div>
    <div>Pilih Restoran</div>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table bordered-table">
                <tr>
                    <th>No</th>
                    <th>Nama - Cabang Restoran</th>
                    <th>Promo Berlangsung</th>
                    <th>Aksi</th>
                </tr>
                {% for restaurant in restaurants %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{restaurant.rname}} {{restaurant.rbranch}}</td>
                    <td>
                        {% for promo in restaurant.rpromo %}
                        <span>{{promo_name}}<span><br>
                        {% endfor %}
                    </td>
                    <td><input type="radio" name="restoran" value="{{restaurant.rname}}||{{restaurant.rbranch}}" required /></td>
                </tr>
                {% endfor %}
            </table>
            <button>Pilih</button>
        </form>
    </div>
    {% if messages %}
        <div>   
            {% for message in messages %}  
                <div>{{ message }}</div>  
                {% endfor %}  
        </div>   
    {% endif %}
</div>
{% endblock content %}