{% extends 'base.html' %} 

{% block content %}
{% include 'navbarPelanggan.html' %}
<div id ="content-wrapper">
    <div id="page-title">
        <h2>FORM PENGISIAN ALAMAT PEMESANAN MAKANAN</h2>
    </div>
    <div id="page-content">
        <form id="address" method="POST">
            {% csrf_token %}
            <div>
                <span>Jalan: </span>
                <span>{{form.street}}</span>
            </div>
            <div>
                <span>Kecamatan: </span>
                <span>{{form.district}}</span>
            </div>
            <div>
                <span>Kota: </span>
                <span>{{form.city}}</span>
            </div>
            <div>
                <span>Provinsi: </span>
                <span>{{form.province}}</span>
            </div>
            <button type="submit" id="address-button">Lanjut</button>
        </form>
    </div>
</div>
<div id = "arguments">
</div>
{% endblock content %}