{% include 'navbarRestoran.html' %} {% block content %}
<!-- 
    Nama restoran: [teks]
Cabang: [teks]
Nomor telepon: [teks]
Jalan: [teks]
Kecamatan: [teks]
Kota: [teks]
Provinsi: [teks]
Rating: [teks, beri 0 jika belum ada]
Kategori restoran: [teks]
Jam operasional:

 -->
<div class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-2">
      <h4>Dashboard Pengguna: {{ user.fname }} {{ user.lname }}</h4>
    </div>

    <div class="col mb-3 mx-5">
      <p>Email: {{ user.email }}</p>
      <p>Password: {{ user.password }}</p>
      <p>Nama: {{ user.fname }} {{ user.lname }}</p>
      <p>Nomor HP: {{ user.phonenum }}</p>
      <p>NIK: {{ actor.nik }}</p>
      <p>Nama bank: {{ actor.bankname }}</p>
      <p>Nomor rekening: {{ actor.accountno }}</p>
    </div>
    <div class="col mb-3 mx-5">
      <p>Nama restoran: {{ restaurant.rname }}</p>
      <p>Cabang: {{ restaurant.rbranch }}</p>
      <p>Nomor telepon: {{ restaurant.rphonenum }}</p>
      <p>Jalan: {{ restaurant.street }}</p>
      <p>Kecamatan: {{ restaurant.district }}</p>
      <p>Kota: {{ restaurant.city }}</p>
      <p>Provinsi: {{ restaurant.province }}</p>
      <p>Rating: {{ restaurant.rating }}</p>
      <p>Kategori restoran: belom join ke kategori restaurant too HM</p>
      <p>Jam operasional:</p>
      <ul>
        <li>masi bingung how to connect to jam operasional resto</li>
        <li>Senin - 07.00 - 18.00</li>
        <li>Selasa - 07.00 - 18.00</li>
      </ul>
      <br />
      <p>Status: [teks]</p>
    </div>
  </div>
</div>
{% endblock %}
