{% include 'navbarPelanggan.html' %} {% block content %}
<!-- Email: [teks]
Password: [teks]
Nama: [teks]
Nomor HP: [teks]
NIK: [teks]
Nama bank: [teks]
Nomor rekening: [teks]
 -->
<div class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-2">
      <h4>Dashboard Pengguna: [nama lengkap pengguna]</h4>
    </div>

    <div class="col mb-3 mx-5">
      <p>Email: [teks]</p>
      <p>Password: [teks]</p>
      <p>Nama: [teks]</p>
      <p>Nomor HP: [teks]</p>
      <p>NIK: [teks]</p>
      <p>Nama bank: [teks]</p>
      <p>Nomor rekening: [teks]</p>
    </div>
    <div class="col mb-3 mx-5">
      <p>Tanggal lahir: [teks]</p>
      <p>Jenis Kelamin: [teks]</p>
      <br />
      <p>Status: [teks]</p>
    </div>
  </div>
</div>
{% endblock %}
