{% extends 'base.html' %} {% block content %} {% include 'navbarAdmin.html' %}
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
crossorigin="anonymous"
/>

<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
crossorigin="anonymous"
></script>

<div class="container my-5 px-5"></div>
<div class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-2">
      <h4>Dashboard Pengguna: {{ user.fname }} {{ user.lname }}</h4>
    </div>
    <div class="col mb-4">
      <p>Email: {{ user.email }}</p>
      <p>Password: {{ user.password }}</p>
      <p>Nama: {{ user.fname }} {{ user.lname }}</p>
      <p>Nomor HP: {{ user.phonenum }}</p>
    </div>
    <div class="col mb-4">
      <!-- tinggal tabel transaksi aktor ya -->
    </div>
  </div>
</div>


{% endblock content %}
