{% include 'navbarPelanggan.html' %} {% block content %}
<!-- 
    Nama restoran: [teks]
Cabang: [teks]
Nomor telepon: [teks]
Jalan: [teks]
Kecamatan: [teks]
Kota: [teks]
Provinsi: [teks]
Rating: [teks, beri 0 jika belum ada]
Kategori restoran: [teks]
Jam operasional:

 -->
<div class="container my-5 px-5">
  <div class="row row-cols-1">
    <div class="col text-center mb-2">
      <h4>Dashboard Pengguna: [nama lengkap pengguna]</h4>
    </div>

    <div class="col mb-3 mx-5">
      <p>Email: [teks]</p>
      <p>Password: [teks]</p>
      <p>Nama: [teks]</p>
      <p>Nomor HP: [teks]</p>
      <p>NIK: [teks]</p>
      <p>Nama bank: [teks]</p>
      <p>Nomor rekening: [teks]</p>
    </div>
    <div class="col mb-3 mx-5">
      <p>Nama restoran: [teks]</p>
      <p>Cabang: [teks]</p>
      <p>Nomor telepon: [teks]</p>
      <p>Jalan: [teks]</p>
      <p>Kecamatan: [teks]</p>
      <p>Kota: [teks]</p>
      <p>Provinsi: [teks]</p>
      <p>Rating: [teks, beri 0 jika belum ada]</p>
      <p>Kategori restoran: [teks]</p>
      <p>Jam operasional:</p>
      <ul>
        <li>Senin - 07.00 - 18.00</li>
        <li>Selasa - 07.00 - 18.00</li>
      </ul>
      <br />
      <p>Status: [teks]</p>
    </div>
  </div>
</div>
{% endblock %}
